# vscode and cmake artifacts
.vscode/
build/

# all documentation
*.pdf
*.jdebug*
*.pex
*.JLinkScript
*.jflash
*.svd
*.exe
*.py
*.bin
*.txt
*.zip

# exclude cmakelist files from the gitignore
!CMakeLists.txt

# mac os x stuff
.DS_Store

# project main
project/*