{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Upload Core #0",
            "cwd": "${workspaceFolder}",
            "executable": "${workspaceFolder}/build/project/klib.elf",
            "device": "${config:target_cpu_debug}",
            "interface": "swd",
            "request": "launch",
            "type": "cortex-debug",
            "runToEntryPoint": "main",
            "servertype": "jlink",
            "armToolchainPath": "TOOLCHAIN_PATH",
            "rttConfig": {
                "enabled": true,
                "address": "auto",
                "decoders": [
                    {
                        "label": "",
                        "port": 0,
                        "type": "console"
                    }
                ]
            }
        },
        {
            "name": "Attach Core #0",
            "cwd": "${workspaceFolder}",
            "executable": "${workspaceFolder}/build/project/klib.elf",
            "device": "${config:target_cpu_debug}",
            "interface": "swd",
            "request": "attach",
            "type": "cortex-debug",
            "servertype": "jlink",
            "armToolchainPath": "TOOLCHAIN_PATH",
            "rttConfig": {
                "enabled": true,
                "address": "auto",
                "decoders": [
                    {
                        "label": "",
                        "port": 0,
                        "type": "console"
                    }
                ]
            }
        }
    ]
}